{% extends 'admin/layout.html.twig' %}

{% block title %}User detail{% endblock %}

{% block heading %}
    <h1 class="display-4">User {{ user.name }}</h1>
    <hr>
{% endblock %}

{% block main %}
    <dl class="row">
        <dt class="col-sm-3 col-md-2 text-sm-right">Email :</dt>
        <dd class="col-sm-9 col-md-10">{{ user.email }}</dd>

        <dt class="col-sm-3 col-md-2 text-sm-right">Roles :</dt>
        <dd class="col-sm-9 col-md-10">
            {% for role in user.roles %}
                <span class="badge badge-nestor">{{ role }}</span>
            {% endfor %}
        </dd>
    </dl>

    <hr>

    <a href="#" class="btn btn-sm btn-danger">
        <i class="fas fa-trash-alt"></i> Delete
    </a>
{% endblock %}
