{% extends 'global/includes/header.html.twig' %}

{% block main_nav %}
    <li class="nav-item">
        <a href="#" class="nav-link">
            <i class="fas fa-user-circle"></i> {{ 'Profile'|trans({},'app') }}
        </a>
    </li>
{% endblock %}

{% block header_buttons %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('admin_dashboard') }}" class="btn btn-sm btn-outline-secondary mr-2">
            <i class="fas fa-tools"></i> {{ 'Admin panel'|trans({},'app') }}
        </a>
    {% endif %}
{% endblock %}