// -- GLOBAL STYLING ----------------------------------- //

html,
body {
  height: 100%;
}

.browser-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba($white, .9);
  width: 100vw;
  height: 100vh;
}

[class*='btn-outline-'] {
  background: $card-cap-bg;
}

label.required::after {
  display: inline-block;
  margin-left: .125rem;
  content: '*';
  color: $danger;
}
