{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
    {{ include('admin/includes/header.html.twig') }}
    <div class="container">
        {% block heading %}{% endblock %}
        {{ include('global/includes/flash_messages.html.twig') }}
        {% block main %}{% endblock %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}