{% extends 'global/includes/header.html.twig' %}

{% block main_nav %}{% endblock %}

{% block header_buttons %}
    <a href="{{ path('app_dashboard') }}" class="btn btn-sm btn-outline-secondary mr-2">
        <i class="fas fa-th-list"></i> {{ 'App dashboard'|trans({},'app') }}
    </a>
{% endblock %}
