{% extends 'global/includes/header.html.twig' %}

{% block main_nav %}
    <li class="nav-item">
        <a href="{{ path('admin_users') }}" class="nav-link">
            <i class="fas fa-users"></i> Users
        </a>
    </li>
{% endblock %}

{% block header_buttons %}
    <a href="{{ path('app_dashboard') }}" class="btn btn-sm btn-outline-secondary mr-2">
        <i class="fas fa-th-list"></i> {{ 'App dashboard'|trans({},'app') }}
    </a>
{% endblock %}
