// -- GLOBAL STYLING ----------------------------------- //

.browser-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: rgba($white, .9);
  width: 100vw;
  height: 100vh;
}
