{% extends 'admin/layout.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block heading %}
    <h1 class="display-4">Hello {{ controller_name }}!</h1>
{% endblock %}

{% block main %}
    <p class="lead">
        This friendly message is coming from:
    </p>

    <ul>
        <li>Your controller at <code><a href="{{ '/Users/lionel/Sites/nestor/src/Controller/Admin/DashboardController.php'|file_link(0) }}">src/Controller/Admin/DashboardController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/lionel/Sites/nestor/templates/admin/dashboard/index.html.twig'|file_link(0) }}">templates/admin/dashboard/index.html.twig</a></code></li>
    </ul>
{% endblock %}