{% extends 'site/layout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block main %}
<div class="container">
    <h1 class="display-4">Hello {{ controller_name }}!</h1>

    <p class="lead">
        This friendly message is coming from:
    </p>

    <ul>
        <li>Your controller at <code><a href="{{ '/Users/lionel/Sites/nestor/src/Controller/Site/HomeController.php'|file_link(0) }}">src/Controller/PublicController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/lionel/Sites/nestor/templates/site/home/index.html.twig'|file_link(0) }}">templates/public/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
